@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

html, body {
  width: 100%;
  height: 100vh;
}

.topnav {
  background-color: whitesmoke;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  float: left;
  display: block;
  padding: 0%;
  margin: -5px;
  width: 70px;
  background-size: cover;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  height: 60px;
}

.topnav .icon {
  display: none;
}

@media only screen and (max-width: 550px) {
  .topnav {
    display: block;
    width: auto;
  }
}
@media only screen and (max-width: 550px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media only screen and (max-width: 550px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
.c-item {
  height: 650px;
  filter: brightness(0.8);
  cursor: auto;
  width: 100%;
}

.c-img {
  height: 100%;
  width: 100%;
  object-fit: initial;
  filter: brightness(0.8);
  cursor: auto;
}

@media only screen and (max-width: 550px) {
  .c-item {
    height: 400px;
  }
}
.grid-layout {
  background-color: beige;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 45% 55%;
  cursor: auto;
}

.cafeteras-txt {
  width: auto;
  height: auto;
  background-color: beige;
  text-align: center;
  margin: 25px;
  text-decoration: none;
}

.cafeteras-txt h1 {
  color: black;
  margin-top: 70px;
  padding-bottom: 30px;
  font-weight: bold;
}

.cafeteras-txt p {
  color: black;
  margin-bottom: 85px;
}

@media only screen and (max-width: 550px) {
  .grid-layout .cafeteras-txt {
    display: inline-block;
    height: auto;
    width: 428px;
    margin: 0px;
    background-color: #faf9f8;
    text-align: center;
  }
  .cafeteras-img {
    display: none;
  }
  .grid-layout .cafeteras-txt p {
    margin: 15px;
    margin-bottom: 35px;
    font-size: small;
  }
  .grid-layout .cafeteras-txt h1 {
    margin: 5px;
    margin-top: 35px;
    font-size: bold;
  }
  .grid-layout .cafeteras-txt button {
    margin: 20px;
  }
}
/*@media only screen and (max-width:550px) {
  .grid-layout {
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.178)), url("/Img/Img Varias/cafetera-moka-italiana-bigstock.jpeg");
    background-size: cover;
  }
}

@media only screen and (max-width:550px) {
  .cafeteras-txt {
    display: inline-block;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
}

@media only screen and (max-width:550px) {
  .cafeteras-txt p {
    color: white;
    font-size: small;
  }
}

@media only screen and (max-width:550px) {
  .cafeteras-txt h1 {
    color: white;
    font-weight: bold;
  }
}

@media only screen and (max-width:550px) {
  .cafeteras-img {
    display: none;
  }
}*/
.grid-recetas {
  background-color: #784d5f;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 45% 55%;
  cursor: auto;
}

.recetas-txt {
  width: auto;
  height: auto;
  background-color: #784d5f;
  text-align: center;
  margin: 25px;
  text-decoration: none;
}

.recetas-txt h1 {
  color: black;
  margin-top: 70px;
  padding-bottom: 30px;
  font-weight: bold;
}

.recetas-txt p {
  color: black;
  margin-bottom: 85px;
}

@media only screen and (max-width: 550px) {
  .grid-recetas {
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.178)), url("/Img/Img Varias/cafetera-moka-italiana-bigstock.jpeg");
    background-size: cover;
  }
}
@media only screen and (max-width: 550px) {
  .recetas-txt {
    display: inline-block;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
}
@media only screen and (max-width: 550px) {
  .recetas-txt p {
    color: white;
    font-size: small;
  }
}
@media only screen and (max-width: 550px) {
  .recetas-txt h1 {
    color: white;
    font-weight: bold;
  }
}
@media only screen and (max-width: 550px) {
  .recetas-img {
    display: none;
  }
}
footer {
  background-color: black;
  height: auto;
  width: 100%;
  padding-top: 10px;
  cursor: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: auto;
}

.footer-contenido p {
  max-width: 700px;
  margin: auto;
  line-height: 28px;
  font-size: 16px;
  color: whitesmoke;
  cursor: auto;
}

.socials-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1rem 0 10px 0;
}

.socials-icons li {
  margin: 0 10px;
}

.socials-icons a {
  text-decoration: none;
  color: whitesmoke;
}

.socials-icons a i {
  font-size: 1.5rem;
  transition: color 0.4s ease;
}

.socials-icons a:hover {
  color: #ad7251;
}

/*CONTACTO*/
.contenedor-contacto {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}

.contenedor-contacto:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(./Img/Tazas.jpg);
  background-size: cover;
  z-index: -1;
  filter: blur(40px);
}

.caja-contacto {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.izquierda {
  height: 100%;
  background-image: url(./Img/Tazas.jpg);
  background-size: cover;
}

.derecha {
  padding: 25px 40px;
}

.derecha h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.derecha h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #ad7251;
}

.relleno {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.relleno:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.mensaje:focus {
  background-color: #fff;
  border: 2px solid rgba 30, 85, 250, 0.47;
}

.relleno area {
  min-height: 150px;
}

.derecha .btn {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #ad7251;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  transition: 0.3s;
}

.derecha .btn:hover {
  background-color: burlywood;
}

@media only screen and (max-width: 550px) {
  .contenedor-contacto {
    display: flex;
    align-items: left;
    align-self: left;
    height: 650px;
  }
  .caja-contacto {
    grid-template-columns: 1fr;
    min-width: 320px;
    align-self: center;
    align-items: center;
  }
  .caja-contacto h2 {
    font-size: 30px;
  }
  input::placeholder {
    font-size: 15px;
  }
  textarea::placeholder {
    font-size: 15px;
  }
}
.MasVendidos h2 {
  color: black;
  text-align: center;
  margin: 10px;
  font-weight: 600;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card-body {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 550px) {
  .card-group {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    line-height: 1.5;
    margin: -20px;
  }
}
/*DE LA PLANTA A LA TAZA*/
.planta {
  background-color: whitesmoke;
}

.imagen-cafetaza img {
  width: 100%;
  height: 100%;
}

.plantataza {
  text-align: center;
}

.delaplantaatutaza-titulo {
  background-color: white;
  display: inline-block;
  width: 50%;
  padding: 10px;
  height: 270px;
  margin: 100px;
  justify-content: center;
  text-align: center;
  border-radius: 10%;
}

.delaplantaatutaza-titulo p {
  text-align: center;
  justify-content: center;
  margin: 50px;
}

.delaplantaatutaza-titulo h1 {
  color: #ad7251;
}

.sale {
  display: flex;
  z-index: 10;
  margin: 10px;
}

.imagen-sale {
  margin-left: 55px;
}

.imagen-sale img {
  display: block;
  border-radius: 20%;
  height: auto;
  margin: 50px;
}

.sale-cafe {
  display: block;
  text-align: center;
  background-color: white;
  z-index: 1;
  padding: 20px;
  margin: 1px;
  height: auto;
  width: 639px;
  border-radius: 10%;
}

.sale-cafe h3 {
  color: #ad7251;
}

.sale-cafe p {
  text-align: justify;
  line-height: 1.5;
  margin-top: 25px;
}

.fruto {
  display: flex;
}

.fruto-texto {
  margin: 30px;
}

.fruto-texto h3 {
  margin-top: 150px;
  color: #ad7251;
  text-align: justify;
  line-height: 1.5;
}

.fruto-img img {
  margin: 150px;
  margin-top: 200px;
  border-radius: 50%;
  height: 250px;
  width: auto;
}

.secado-texto-metodo {
  display: block;
  column-count: 2;
  text-align: justify;
  line-height: 1.5;
}

.secado-texto {
  margin: 30px;
  margin-bottom: 50px;
}

.metodo-seco {
  background-color: white;
  padding: 15px;
  border-radius: 10%;
  margin: 5px;
}

.metodo-humedo {
  background-color: white;
  padding: 15px;
  border-radius: 10%;
  margin: 5px;
}

.secado-texto h3 {
  color: #ad7251;
  margin: 10px;
}

.secado-texto p {
  margin: 10px;
}

.secado-texto h5 {
  color: #ad7251;
}

.secado-img img {
  display: block;
  border-radius: 15%;
  text-align: center;
  transform: translateX(75%);
  margin: 65px;
}

.tostado {
  text-align: center;
}

.tostado-txt {
  background-color: white;
  display: inline-block;
  width: 50%;
  padding: 10px;
  height: 270px;
  margin: 100px;
  justify-content: center;
  text-align: center;
  border-radius: 10%;
}

.tostado-txt p {
  text-align: center;
  margin: 50px;
  text-align: justify;
  line-height: 1.5;
}

.tostado-txt h3 {
  color: #ad7251;
}

@media only screen and (max-width: 550px) {
  .imagen-cafetaza img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 550px) {
  .plantataza {
    text-align: center;
    height: auto;
  }
}
@media only screen and (max-width: 550px) {
  .delaplantaatutaza-titulo {
    background-color: white;
    display: block;
    width: 70%;
    padding: 10px;
    height: 270px;
    margin: 100px;
    justify-content: center;
    text-align: center;
    border-radius: 10%;
    height: auto;
  }
  .delaplantaatutaza-titulo p {
    text-align: center;
    justify-content: center;
    margin: 50px;
  }
  .delaplantaatutaza-titulo h1 {
    color: #ad7251;
  }
}
@media only screen and (max-width: 550px) {
  .sale {
    display: block;
    z-index: 10;
    margin: 10px;
  }
  .imagen-sale img {
    display: none;
  }
  .sale-cafe {
    display: block;
    text-align: center;
    background-color: white;
    z-index: 1;
    height: auto;
    width: auto;
    border-radius: 10%;
  }
  .sale-cafe h3 {
    color: #ad7251;
  }
  .sale-cafe p {
    text-align: justify;
    line-height: 1.5;
    margin-top: 25px;
  }
  .fruto {
    display: block;
    width: auto;
    height: auto;
  }
  .fruto-texto h3 {
    margin-top: 150px;
    color: #ad7251;
    text-align: justify;
    line-height: 1.5;
  }
  .fruto-img img {
    display: none;
  }
  .secado-texto-metodo {
    display: block;
    column-count: 2;
    text-align: justify;
    line-height: 1.5;
  }
  .secado-texto {
    margin: 30px;
    margin-bottom: 50px;
  }
  .metodo-seco {
    background-color: white;
    padding: 10px;
    border-radius: 10%;
    margin: 5px;
  }
  .metodo-humedo {
    background-color: white;
    padding: 15px;
    border-radius: 10%;
    margin: 5px;
  }
  .secado-texto h3 {
    color: #ad7251;
    margin: 10px;
  }
  .secado-texto p {
    margin: 10px;
  }
  .secado-texto h5 {
    color: #ad7251;
  }
  .secado-img img {
    display: none;
  }
}
.recetas {
  display: inline-block;
  width: 100%;
  height: 1200px;
  background-color: whitesmoke;
}

.imagen-recetas {
  display: inline-block;
  width: 100%;
  background-image: url("./Img/fondoblanco.jpg");
  background-size: cover;
  background-position: center;
}

.imagen-recetas h3 {
  color: black;
  text-align: center;
  margin: 50px;
  letter-spacing: 10px;
}

.imagen-recetas span {
  color: #ad7251;
}

.imagenes-recetas {
  display: flex;
  flex-direction: row;
  margin: 15px;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.imagenes-recetas img {
  margin-top: 50px;
  border-radius: 70%;
}

.imagenes-recetas h6 {
  margin: 20px;
  margin-bottom: 50px;
}

.buscando {
  text-align: center;
  margin: 50px;
}

.buscando h3 {
  color: black;
  text-align: center;
  margin: 50px;
  letter-spacing: 5px;
}

.buscando span {
  color: #ad7251;
}

.recetas-card {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  background-color: whitesmoke;
  cursor: default;
}

.shangai {
  background-color: whitesmoke;
}

.foto-shangai {
  display: flex;
  background-image: url(./Img/recetas1.png);
  height: 100%;
  position: relative;
  z-index: 1;
}

.shangai-resumen {
  display: block;
  background-color: white;
  width: 50%;
  height: 200px;
  margin: -50px 500px;
  position: absolute;
  z-index: 2;
}

.shangai-resumen h3 {
  letter-spacing: 5px;
  color: #ad7251;
  padding: 15px;
}

.shangai-resumen p {
  padding: 15px;
}

.receta-shangai {
  text-align: justify;
  line-height: 1.5;
}

.receta-shangai {
  margin-top: 250px;
}

.receta-shangai ul {
  background: whitesmoke;
  padding: 50px 0;
}

.receta-shangai ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #ad7251;
}

.receta-shangai ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.receta-shangai ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: whitesmoke;
}

.receta-shangai ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.receta-shangai ul li:nth-child(odd) div {
  left: 45px;
}

.receta-shangai ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #ad7251 transparent transparent;
}

.receta-shangai ul li:nth-child(even) div {
  left: -439px;
}

.receta-shangai ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #ad7251;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.receta-shangai ul li::after {
  transition: background 0.5s ease-in-out;
}

.receta-shangai ul li.in-view::after {
  background: #ad7251;
}

.receta-shangai ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.receta-shangai ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.receta-shangai ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.receta-shangai ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .receta-shangai ul li div {
    width: 250px;
  }
  .receta-shangai ul li:nth-child(even) div {
    left: -289px;
  }
}
@media screen and (max-width: 550px) {
  .receta-shangai ul li {
    margin-left: 20px;
  }
  .receta-shangai ul li div {
    width: calc(100vw - 91px);
  }
  .receta-shangai ul li:nth-child(even) div {
    left: 45px;
  }
  .receta-shangai ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #ad7251 transparent transparent;
  }
}
.receta-shangai-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.receta-shangai-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.receta-shangai-rhombus ul li div::before {
  bottom: 12px;
}

.receta-shangai-star ul li::after {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.receta-shangai-heptagon ul li::after {
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.receta-shangai-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
@media only screen and (max-width: 550px) {
  .imagenes-recetas {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  .imagen-recetas h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 550px) {
  .recetas-card {
    display: block;
    height: 3400px;
    text-align: center;
    width: 100%;
    align-items: center;
    margin-left: -10px;
  }
}
@media only screen and (max-width: 550px) {
  .shangai-resumen {
    left: -400px;
    height: auto;
    text-align: center;
  }
}
.titulo-tienda {
  background-image: url(./Img/fondo-tienda.png);
  height: 250px;
  background-size: cover;
}

.titulo-tienda h1 {
  text-align: center;
  padding: 50px;
  letter-spacing: 15px;
  color: whitesmoke;
}

.titulo-tienda p {
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
  margin-top: -15px;
}

.div-tienda1 {
  background-color: #c1bba4;
  width: 100%;
  height: 250px;
  text-align: center;
  margin: 70px auto 70px auto;
}

.div-tienda1 h3 {
  color: black;
  letter-spacing: 10px;
  margin: 45px;
  font-weight: bold;
}

.div-tienda1 p {
  color: black;
}

.div-tienda2 {
  background-color: #ac8a6c;
  width: 100%;
  height: 250px;
  text-align: center;
  margin: 70px auto 70px auto;
}

.div-tienda2 h3 {
  color: white;
  letter-spacing: 10px;
  margin: 45px;
  font-weight: bold;
}

.div-tienda2 p {
  color: white;
}

.div-tienda3 {
  background-color: #858887;
  width: 100%;
  height: 250px;
  text-align: center;
  margin: 70px auto 70px auto;
}

.div-tienda3 h3 {
  color: white;
  letter-spacing: 10px;
  margin: 45px;
  font-weight: bold;
}

.div-tienda3 p {
  color: white;
}

.tienda2 {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4200px;
  background-color: whitesmoke;
}

.shop {
  display: flex;
  width: 650px;
  height: 400px;
  background: white;
  margin: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s;
}
.shop:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shop .photo {
  padding: 30px;
  width: 45%;
  text-align: center;
  float: left;
}
.shop .photo img {
  max-height: 240px;
}
.shop .description {
  padding: 30px;
  float: left;
  width: 55%;
  border-left: 2px solid #efefef;
}
.shop .description h1 {
  color: #515151;
  font-weight: 300;
  padding-top: 15px;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}
.shop .description h2 {
  color: #515151;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}
.shop .description h4 {
  margin: 0;
  color: #727272;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}
.shop .description p {
  font-size: 12px;
  line-height: 20px;
  color: #727272;
  padding: 20px 0;
  margin: 0;
}
.shop .description button {
  outline: 0;
  border: 0;
  background: none;
  border: 1px solid #d9d9d9;
  padding: 8px 0px;
  margin-bottom: 30px;
  color: #515151;
  text-transform: uppercase;
  width: 295px;
  font-family: inherit;
  margin-right: 5px;
  transition: all 0.3s ease;
  font-weight: 500;
}
.shop .description button:hover {
  border: 1px solid #ad7251;
  color: #ad7251;
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  .negocio {
    display: inline-block;
    width: 100%;
    height: 7000px;
  }
  .shop img {
    display: inline-block;
    width: 100%;
    align-items: center;
    margin-top: 70%;
  }
  .shop .description {
    border-left: 2px solid #efefef;
    height: 400px;
    padding: 10px;
    text-align: center;
  }
  .shop .description button {
    width: 100%;
  }
  .shop .description p {
    font-size: 12px;
  }
  .shop .description h2 {
    font-size: 20px;
  }
  .shop .description h4 {
    font-size: 0px;
  }
  .shop .description h1 {
    font-size: 15px;
  }
}
/*ASÍ SE COMENTA EN CSS*/

/*# sourceMappingURL=estilos.css.map */
